#headline {
    text-align: center;
}

.intro {
    padding-bottom: 50px;
}

.intro p {
    text-align: center;
}

.project {
    padding: 20px;
  }
  
  .project img {
    width: 100%;
    border-radius: 8px;
  }
  
  .content {
    margin-top: 20px;
  }
  
  .content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .content p {
    margin-bottom: 20px;
  }
  