html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 50px;
}

.navbar {
    padding: 20px 20px 20px 20px;
    font-size: x-large;
}

.navbar-brand {
    font-size: x-large;
}

.progress {
    height: 25px;
    font-size: 16px;
}

.progress-bar {
    text-align: left;
    padding-left: 2%;
}